.header-section{
    background-image: url(../../Assets/Main.png);
    width: 738px;
    height: 384px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -220px 0px;
}
.second-section{
    background-image: url(../../Assets/beautyBg.svg);
    background-repeat: no-repeat;
    width: 354px;
}
.third-section{
    background-image: url(../../Assets/techBg.svg);
    background-repeat: no-repeat;
    width: 354px;
}
.grocires-section{
    background-image: url(../../Assets/groceries.svg);
    width: 738px;
    height: 384px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -280px 0px;
}
